<%= render 'shared/form', resource: commitment, cancel_path: commitments_path do |f| %>
  <div class="space-y-6">
    <div>
      <%= f.label :title, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.text_field :title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <div>
      <%= f.label :description, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.text_area :description, rows: 4, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <div>
      <%= f.label :category_id, 'Category', class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.collection_select :category_id, @categories, :id, :name, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <% if false %>
    <div>
      <%= f.label :milestones, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= f.collection_check_boxes :milestone_ids, @milestones, :id, :title do |b| %>
          <div class="flex items-center space-x-2">
            <%= b.check_box class: "rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
            <%= b.label class: "text-sm text-gray-700" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <div>
      <%= f.label :frequency, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.select :frequency, Commitment.frequencies.keys.map { |f| [f.humanize, f] }, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2">
      <div>
        <%= f.label :start_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.date_field :start_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= f.label :end_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.date_field :end_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
    </div>

    <div class="relative flex items-start">
      <div class="flex h-6 items-center">
        <%= f.check_box :completed, class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600" %>
      </div>
      <div class="ml-3 text-sm leading-6">
        <%= f.label :completed, class: "font-medium text-gray-900" %>
        <p class="text-gray-500">Mark this commitment as completed</p>
      </div>
    </div>
  </div>
<% end %>
